 .u-section-1 {
  background-image: url("images/FREE-HDconvert.coma1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 262px 592px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --radius: 47px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(#666666, #f5d654);
  margin: 13px auto 60px 0;
  padding: 10px 79px 10px 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.02;
    margin-top: 60px;
    margin-right: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 211px;
    margin-right: 172px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 642px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 477px;
}

.u-section-3 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 54px;
}

.u-section-3 .u-repeater-1 {
  min-height: 391px;
  grid-auto-columns: calc(33.3333% - 5.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 5.33333px));
  grid-gap: 8px;
}

.u-section-3 .u-image-1 {
  background-image: url("https://pixabay.com/get/gbc4e28e10c3a861799a9b99611ec0cedb611df932a5325d9a0a363c8517cd97864b5f13c7aab1da8eb37c1fea49d8a286f02576ce4a38486e056342694c6cda4_1280.jpg");
  transition-duration: 0.5s;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  background-image: url("https://pixabay.com/get/g4548a882f689886c664688d05dd23b62610bd2f7a85c113098d42feaaa235889da3686e77d42be75cd2941aed388395d9acefb477fca23635d7252d901cfefc0_1280.jpg");
  transition-duration: 0.5s;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  background-image: url("https://pixabay.com/get/gbe12c5982964895897a15284370c759757359796650d5c5c789edfa1ea292a119abc56624642e5a4f9feebe392b18b203ff649d80a25adc338af2c8ff7b10d63_1280.jpg");
  transition-duration: 0.5s;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 59px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    min-height: 791px;
    grid-auto-columns: calc(50% - 3.9999975px);
    grid-template-columns: repeat(2, calc(50% - 3.9999975px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1:before {
  background-image: url(images/3a861799a9b99611ec0cedb611df932a5325d9a0a363c8517cd97864b5f13c7aab1da8eb37c1fea49d8a286f02576ce4a38486e056342694c6cda4_1280_RGBD.jpg) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2:before {
  background-image: url(images/89886c664688d05dd23b62610bd2f7a85c113098d42feaaa235889da3686e77d42be75cd2941aed388395d9acefb477fca23635d7252d901cfefc0_1280_RGBD.jpg) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3:before {
  background-image: url(images/64895897a15284370c759757359796650d5c5c789edfa1ea292a119abc56624642e5a4f9feebe392b18b203ff64sss9d80a25adc338af2c8ff7b10d63_1280_RGBD.jpg) !important;
}